.table td, .table th{ padding:0.25rem; }
.btn-item-table {     
    border-color: #fff; 
}
.btn-item-table:hover{     
    border-bottom: 1px solid red;
}
.list-group-div .list-group-item{
	padding: .45rem 1.25rem;
	cursor:pointer;
}
.list-group-div .list-group-item:hover{
	background-color:#dadada;
}
.custom-color-row{
	background-color:#dadada;
}
.custom-color-row-two{
	background-color:#ffda00;
}
.clink{
	color:blue;
	cursor:pointer;
}